@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Regular.ttf');
}

@media screen and (max-width: 600px) {
    .nav {
        align-items: flex-start !important;
    }

    .nav li:not(:nth-last-child(2))  {
        display: none;
    }

    .nav li.icon {
        display: block;
    }

    .wrapper {
        padding: 16px 16px 0;
    }

    .nav.responsive {
        position: relative;
        padding: 20px 0 0 0;
        flex-direction: column;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive li {
        float: none;
        display: block;
    }

    .nav.responsive li:not(:first-child) {
        padding-top: 5px;        
    }

    body .navbar>div, body .navbar>nav{
        flex-basis: 0;
    }

    .nav-button {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        padding: 16px 16px 0;
    }
    
    body .navbar>div {
        flex-basis: 10%;
    }

    body .navbar>nav{
        flex-basis: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        padding: 16px 16px 0;
    }

    .nav {
        flex-direction: row;
    }

    body .navbar>div {
        flex-basis: 20%;
    }

    body .navbar>nav{
        flex-basis: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        padding: 16px 88px 0;
    }

    .nav {
        flex-direction: row;
    }

    body .navbar>div {
        flex-basis: 30%;
    }

    body .navbar>nav{
        flex-basis: 70%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        padding: 16px 88px 0;
    }

    .nav {
        flex-direction: row;
    }
    
    body .navbar>div, body .navbar>nav{
        flex-basis: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Suisse Intl';
}

a {
    text-decoration: none;
}

.navbar>div, .navbar>nav{
    flex-basis: 50%;
}

.wrapper {
    background: #1B1A1A;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
}

.nav {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    float: left;
    display: block;
}

.nav__link {
    color: #fff;
    font-size: 15px;
}

.nav .icon {
    display: none;
}

.nav-button {
    color: #000;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 16px 6px 16px;
    display: inline-block;
    height: 32px;
    text-wrap: nowrap;
}

.header__title {
    color: #fff;
}

.header__description {
    color: #FFFFFF99;
}