@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Regular.ttf');
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        max-height: 0;
    }

    1% {
        display: block;
        opacity: 0;
        max-height: 0;
    }

    100% {
        display: block;
        max-height: 700px;
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Suisse Intl';
}

a {
    text-decoration: none;
}

.wrapper {
    background: #1B1A1A;
}

.nav {
    height: 50px;
    width: 100%;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-logo {
    display: inline-block;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.nav>.nav-links>a:not(:last-child) {
    border-bottom: 1px solid transparent;
}

.nav>.nav-links>a:not(:last-child):hover {
    border-bottom: 1px solid #fff;
}

.nav>#nav-check {
    display: none;
}

.nav-links a:last-child {
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 5px 15px;
}

.header__title {
    padding-top: 60px;
    font-size: 100px;
    color: #fff;
}

.header__description {
    color: #FFFFFF99;
    font-size: 32px;
    margin: 36px 0 48px;
}

.header__left,
.header__right {
    width: 50%;
}

.header__content {
    display: flex;
}

.wrapper {
    overflow: hidden;
}

.header__button {
    border-radius: 23px;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 289px;
    color: #fff;
    background: #FF559C;
}

.header__right {
    position: relative;
    height: 656px;
}

.header__right img {
    position: absolute;
}

.features__upload {
    padding: 77px 0 0 153px;
    background: linear-gradient(180deg, #7AEFFF 0%, #7AFFBF 100%);
}

.features__banking {
    background: #F0FA6A;
}

.features__reporting {
    background: #FF8DB6;
    padding: 48px 48px 0 48px;
}

.features__accounting {
    background: #8BE2EE;
    padding: 80px 48px 48px 48px;
}

.features__upload,
.features__reporting,
.features__accounting,
.features__banking {
    border-radius: 48px;

}

.features__reporting,
.features__accounting {
    flex-basis: 49%;
}

.features>div:nth-child(2) {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
}

.section-title {
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
}

.features__description {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.features__upload img {
    vertical-align: bottom;
    width: 100%;
    padding-right: 5px;
}

.features__upload .section-title,
.features__upload .features__description {
    padding-right: 153px;
}

.features__upload .features__description {
    padding-bottom: 90px;
}

.features__reporting img {
    margin-top: 25px;
    transform: rotate(-13.2deg);
}

.features__reporting .features__description,
.features__accounting .features__description {
    text-align: left;
}

.features__reporting .features__description {
    width: 70%;
}

.features__accounting .features__description {
    width: 90%;
}

.features__reporting h2,
.features__accounting h2 {
    width: 427px;
    font-weight: 400;
    font-size: 56px;
}

.features__accounting h2 {
    padding: 35px 0 0 0;
}

.features__accounting img {
    display: block;
    margin: 0 auto;
}

.features__accounting img:hover {
    content: url('../images/features/boringJohnHover.png');
}

.features__accounting picture {
    position: relative;
}

.features__accounting picture:hover::before {
    position: absolute;
    top: -112px;
    left: 25px;
    content: url('../images/features/johnsAlert.png');
}

.features__banking .section-title {
    padding: 80px 90px 0 90px;
}

.features__banking .features__description {
    padding: 24px 330px 107PX;
}

.features__banking .banking__container_desktop img {
    border-bottom-right-radius: 48px;
}

.banking__container_desktop {
    display: flex;
    padding-left: 74px;
    justify-content: space-between;
}

.features__banking label {
    display: block;
    margin-left: 20px;
    font-size: 32px;
    line-height: 40px;
    width: 285px;
    cursor: pointer;
}

.features__banking input {
    appearance: none;
    position: relative;
    display: block;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    border: 4px solid #000;
    margin-right: 5px;
    cursor: pointer;
}

.features__banking input::before {
    content: '';
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
}

.features__banking input:checked::before {
    display: block;
    top: calc(100% - (50% + 15px));
    left: calc(100% - (50% + 15px));
}

.banking-radio>div {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.banking-radio>div:not(:first-child) {
    margin-top: 32px;
}

.banking-radio>div:hover {
    color: #000000A3;
}

.banking-radio>div:hover input::before {
    background: #000000A3;
}

.banking-radio>div:hover input {
    border: 4px solid #000000A3;
}

/* Slider */
.slider-wrapper {
    overflow: hidden;
}

.slider {
    position: relative;
    display: flex;
    transition: 0.5s;
}

.item {
    flex: 1 0 100%;
}

.prev,
.next {
    cursor: pointer;
}

.plans {
    background: #E8E8E8;
    border-radius: 100px;
    margin-right: -88px;
    margin-left: -88px;
    padding: 135px 84px 104px;
    margin-top: 180px;
}

.tax-types {
    display: flex;
    justify-content: center;
    flex-shrink: 3;
    gap: 10px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.tax-types__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 80px;
    height: 80px;
    width: 275px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
}

.subscription-duration {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 80px;
    width: fit-content;
    margin: 0 auto;
}

.subscription-duration__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 565px;
    height: 80px;
    border-radius: 80px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
}

.tax-types__item_active,
.subscription-duration__item_active {
    background-color: #FF559C;
    color: #fff;
}

.plans-row {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.plans-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 700px;
    width: 407px;
    background-color: #fff;
    border: 8px solid #fff;
    border-radius: 32px;
    padding: 40px;

}

.plans-card_active {
    border: 8px solid #FF559C;
}

.plans-card__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.plans-card__price {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.plans-card__description {
    height: 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000A3;
    padding: 16px 0 24px;
}

.documents-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.documents-info svg {
    display: flex;
    align-items: center;
}

.documents-info__yearly {
    display: flex;
}

.documents-info__count {
    width: 30px;
    height: 32px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #0000003D;
    border: 1px solid #0000003D;
    border-radius: 8px;
}

.documents-info__count_active {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.services-list__item {
    position: relative;
    padding: 6px 0;
    border-bottom: 1px solid #00000029;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.services-list__item:first-child {
    border-top: 1px solid #00000029;
}

.services-list__item p {
    display: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #000000A3;
    width: 90%;
    padding: 5px 0;
    animation: fadeInFromNone 1s;
}

.services-list__item>div {
    cursor: pointer;
}

.services-list__description-swicher {
    position: absolute;
    top: 0;
    right: 0;
    transition: transform .2s ease-in-out;
}

.plans-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 80px;
    background-color: #000;
    border-radius: 20px;
    margin-top: 55px;
}

.plans-card__button_active {
    background-color: #FF559C;
}

.extra-services {
    display: flex;
    justify-content: space-between;
    border: 4px solid #00000029;
    border-radius: 40px;
    padding: 40px;
    margin-top: 50px;
}

.extra-services>* {
    width: 360px;
}

.extra-services h4 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.extra-services span {
    position: relative;
    display: block;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.extra-services span::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: 35%;
    left: -20px;
    background-color: #FF559C;
    border-radius: 50%;
}

.help {
    background: #0000000A;
    border-radius: 40px;
    padding: 65px 90px 70px;
    margin-top: 50px;
}

.help h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 25px;
}

.help a {
    display: block;
    color: #fff;
    padding: 25px 0;
    margin: 0 auto;
    width: 330px;
    background-color: #000;
    border-radius: 20px;
    text-align: center;
}

.tools {
    margin-top: 180px;
}

.tools .section-title {
    color: #fff;
    margin-bottom: 48px;
}

.tools__row {
    display: flex;
    justify-content: space-between;
}

.tools__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 32px;
    height: 600px;
    width: 400px;
    padding: 40px;
    transition: transform .2s ease-in-out;
}

.tools__item:hover {
    transform: translateY(-20px);
}

.tools__item:nth-child(1),
.item:nth-child(1) .tools__item {
    background-image: url("../images/tools/background1.png");
}

.tools__item:nth-child(2),
.item:nth-child(2) .tools__item {
    background-image: url("../images/tools/background2.png");
}

.tools__item:nth-child(3),
.item:nth-child(3) .tools__item {
    background-image: url("../images/tools/background3.png");
}

.tools__item h3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
}

.tools__item img {
    display: block;
    float: right;
}

.tools__item:nth-child(2) img {
    border-radius: 24px;
    box-shadow: 0px 0px 36.64px 0px #0000003D;
}

.trust {
    margin-top: 180px;
    padding-bottom: 290px;
}

.trust .section-title {
    color: #fff;
    margin-bottom: 32px;
}

.achievement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trust .slider-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.trust .item {
    flex: 1 0 50%;
    padding: 0 10px;
}

.client-reviews {
    margin-top: 40px;
}

.client-reviews__item {
    padding: 40px;
    border-radius: 24px;
    background-color: #FFFFFF1A;
    color: #fff;
    min-height: 100%;
}

.client-reviews__header {
    display: flex;
    align-items: center;
}

.client-reviews__header>div {
    display: flex;
    flex-direction: column;
}

.client-reviews__name,
.client-reviews__description {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
}

.client-reviews__comment {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.trust .prev,
.trust .next {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: #FFFFFF1A;
    display: flex;
    justify-content: center;
    align-items: center
}

.enty-hub {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323131;
    border-radius: 240px;
    padding: 20px;
    margin-top: 68px;
}

.enty-hub::before {
    position: absolute;
    content: url("../images/trust/enty-hub-decor.png");
    top: -50px;
    left: 30px;
}

.enty-hub__title {
    width: 350px;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    margin-left: 40px;
}

.enty-hub__button {
    width: 260px;
    padding: 40px 63px;
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 240px;
}

.questions {
    color: #fff;
}

.questions__column {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 25px;
}

.questions__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
}

.questions__answer {
    display: none;
    margin-top: 25px;
    color: #FFFFFFCC;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 700px;
    animation: fadeInFromNone .5s;
}

.questions__answer strong {
    color: #fff;
}

.questions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    min-height: 50px;
}

.questions__item {
    background-color: #FFFFFF1A;
    border-radius: 40px;
    padding: 50px 40px;
}

.questions__item:last-child {
    display: flex;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
}

.questions__item:last-child a {
    color: #000;
    text-align: center;
}

.more {
    padding: 180px 0;
}

.more .section-title {
    color: #fff;
    margin-bottom: 70px;
}

.more__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.more__item {
    width: 49%;
}

.more__item img {
    width: 100%;
}

.more__subscribe-title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.subscribe {
    width: 620px;
    margin: 70px auto 0;
}

.subscribe__title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-bottom: 32px;
}

.subscribe__wrapper {
    display: flex;
    border: 2px solid #FFFFFFA3;
    border-radius: 32px;
    padding: 10px;
    height: 90px;
}

.subscribe__input {
    appearance: none;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    padding: 30px 24px;
}

.subscribe__button {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    width: 200px;
    border-radius: 24px;
    line-height: 66px;
}

.start-bottom {
    background: linear-gradient(131.12deg, #FF559C 3.08%, #FD57F4 22%, #AD59FA 40.93%, #5A5BF8 59.85%, #5CAEF5 78.77%, #5EF3EA 97.7%);
    border-radius: 30px;
    padding: 140px 0;
    margin-bottom: 160px;
}

.start-bottom .section-title {
    color: #fff;
    width: 785px;
    margin: 0 auto;
}

.start-bottom__button {
    display: block;
    border-radius: 23px;
    font-size: 46px;
    line-height: 115px;
    font-weight: 600;
    height: 115px;
    width: 385px;
    color: #fff;
    background: #FF559C;
    margin: 40px auto 0;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer__item {
    width: 200px;
}

.footer__item:first-child {
    width: 400px;
}

.footer h4 {
    color: #DDDDDD;
    margin-bottom: 15px;
}

.footer-text {
    display: block;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 8px;
}

.footer__item:last-child div {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.footer__item:last-child div .footer-text {
    display: inline;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

.hover-button {
    transition: transform .2s ease-in-out;
}

.hover-button:hover {
    transform: scale(1.05);
}

/* Media queries */
@media screen and (max-width: 600px) {
    .wrapper {
        padding: 16px 16px 0;
    }

    .nav {
        width: 100vw;
        margin-left: -16px;
        padding-left: 20px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: auto;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #1B1A1A;
        height: 0px;
        margin-right: -16px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        padding: 7px 10px 7px 20px;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        z-index: 5;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav-links a:last-child {
        text-align: left;
        border-radius: 0;
        background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 90%);
    }

    body:has(#nav-check:checked),
    html:has(#nav-check:checked) {
        overflow-y: hidden;
    }

    .header__content {
        flex-direction: column;
    }

    .header__button {
        font-weight: 700;
    }

    .header__title {
        padding-top: 36px;
        text-align: center;
        font-size: 48px;
        line-height: 56px;
    }

    .header__description {
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 36px;
    }

    .header__left,
    .header__right {
        width: 100%;
    }

    .header__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }

    .header__right {
        height: 100vw;
    }

    .header__right img {
        width: 130%;
    }

    .header__button {
        height: 72px;
        width: 239px;
        font-size: 24px;
    }

    .features>div:nth-child(2) {
        flex-direction: column;
    }

    .features__upload {
        padding: 0 0 0 24px;
        border-radius: 24px;
    }

    .section-title {
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
    }

    .features__upload .section-title {
        padding: 48px 24px 0 0;
    }

    .features__upload .features__description {
        padding: 15px 24px 60px 0;
    }

    .features__upload .features__description,
    .features__reporting .features__description,
    .features__accounting .features__description,
    .features__banking .features__description {
        font-size: 16px;
        line-height: 24px;
    }

    .features__upload img {
        content: url('../images/features/upload-file-small.png');
        padding-right: 0;
    }

    .features__reporting .features__description,
    .features__accounting .features__description {
        text-align: center;
        width: 100%;
    }

    .features__reporting {
        padding: 0;
    }

    .features__reporting img {
        content: url('../images/features/reports-small.png');
        transform: none;
        vertical-align: bottom;
    }

    .features__reporting h2,
    .features__accounting h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 400;
        width: 275px;
        text-align: center;
    }

    .features__reporting .features__description,
    .features__accounting .features__description {
        width: 80%;
    }

    .features__reporting {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0 0 0;
    }

    .features__reporting img {
        padding-left: 5px;
    }

    .features__accounting {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0 64px;
        margin-top: 24px;
    }

    .features__accounting img {
        width: 90%;
    }

    .features__accounting picture:hover::before {
        content: url('../images/features/johnsAlert-small.png');
        left: 38%;
        top: -100px;
    }

    .features__banking {
        padding: 48px 0;
    }

    .features__banking .section-title {
        padding: 0 28px;
    }

    .features__banking .features__description {
        padding: 16px 34px 56px;
    }

    .banking__container_desktop {
        display: none;
    }

    .plans__container_desktop {
        display: none;
    }

    .tools__container_desktop {
        display: none;
    }

    .enty-hub {
        display: none;
    }

    .banking__container_mobile .item {
        padding: 0;
        align-items: center;
    }

    .banking__container_mobile .item img {
        display: block;
        margin: auto;
    }

    .banking__container_mobile .item p {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        width: 295px;
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .slider-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .banking__container_mobile .slider-buttons {
        padding-top: 15px;
    }

    .prev,
    .next {
        height: 56px;
        width: 56px;
        border-radius: 50%;
        background: #0000000A;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .plans {
        padding: 55px 24px 100px;
        margin: 80px -16px 0 -16px;
        border-radius: 48px;
    }

    .plans .section-title {
        font-size: 32px;
        line-height: 40px;
    }

    .help {
        display: none;
    }

    .extra-services {
        flex-direction: column;
        padding: 32px 24px 64px;
        border-radius: 24px;
    }

    .extra-services h4 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .extra-services span {
        margin-left: 20px;
        font-size: 16px;
        line-height: 24px;
    }

    .extra-services>* {
        width: 100%;
    }

    .extra-services span::before {
        width: 8px;
        height: 8px;
        top: 40%;
    }

    .plans__container_mobile>p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        padding: 24px 0 16px;
    }

    .select-tax {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 18px 0;
        border-radius: 30px;
        border: 1px solid #000;
        min-height: 60px;
        gap: 10px;
        margin-bottom: 16px;
    }

    .select-tax__item {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .select-tax__item:not(:first-child) {
        display: none;
    }

    .select-tax__item_show {
        display: block !important;
    }

    .subscription-duration {
        width: 100%;
        margin-bottom: 45px;
    }

    .subscription-duration__item {
        width: 50%;
        height: 60px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .plans-card {
        width: 90%;
        margin: 0 auto;
        padding: 24px;
        min-height: 100%;
    }

    .plans-card__button {
        margin-top: 28px;
    }

    .plans-card__description {
        padding: 8px 0 24px;
    }

    .plans__container_mobile .slider-wrapper {
        margin-left: -25px;
        margin-right: -25px;
    }

    .tools {
        margin-top: 120px;
    }

    .tools .prev,
    .tools .next {
        background-color: #ffffff40;
    }

    .tools__item {
        width: 85%;
        margin: 0 auto;
    }

    .tools__container_mobile .tools__item {
        transform: none;
    }

    .tools__container_mobile .slider-wrapper {
        margin-left: -25px;
        margin-right: -25px;
    }

    .tools__container_mobile .slider-buttons {
        margin-top: 32px;
    }

    .tools .next:hover,
    .tools .prev:hover {
        background-color: #fff;
    }

    .trust {
        margin-top: 120px;
        padding-bottom: 120px;
    }

    .achievement {
        justify-content: center;
    }

    .achievement__item img {
        width: 160px;
    }

    .client-reviews .item {
        flex: 1 0 100%;
    }

    .questions__item {
        padding: 24px;
    }

    .questions__item .questions__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        width: 250px;
    }

    .questions__switcher img {
        width: 24px;
    }

    .questions__answer {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .questions__item {
        border-radius: 24px;
    }

    .more {
        padding: 120px 0;
    }

    .more .section-title {
        margin-bottom: 35px;
    }

    .more__group {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        gap: 12px
    }

    .more__item {
        flex-shrink: 0;
        width: 330px;
    }

    .subscribe {
        width: 100%;
    }

    .subscribe__wrapper {
        display: block;
        height: auto;
        border: none;
        padding: 0;
    }

    .subscribe__title {
        width: 300px;
        margin: 0 auto 24px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .subscribe__input {
        height: 70px;
        border-radius: 24px;
        border: 2px solid #FFFFFFA3;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-bottom: 15px;
        padding: 24px;
    }

    .subscribe__button {
        display: block;
        width: 100%;
        height: 70px;
        font-size: 20px;
        font-weight: 700;
        line-height: 70px;
    }

    .start-bottom {
        padding: 85px 0;
        border-radius: 24px;
        margin-bottom: 105px;
    }

    .start-bottom .section-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        width: 70%;
    }

    .start-bottom__button {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 700;
        height: 70px;
        line-height: 70px;
        width: 85%;
        border-radius: 20px;
    }

    .footer {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .footer__item:first-child {
        display: none;
    }

    .footer__item {
        width: 150px;
    }

    .footer__item:last-child {
        width: 100%;
    }

    .footer__item:last-child>.footer-text:nth-child(2) {
        margin: 32px 0 24px;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        padding: 16px 16px 0;
    }

    .header__content {
        flex-direction: column;
    }

    .header__left,
    .header__right {
        width: 100%;
    }

    .header__right {
        height: 700px;
    }

    .features>div:nth-child(2) {
        flex-direction: column;
    }

    .section-title {
        font-size: 40px;
    }

    .banking__container_mobile {
        display: none;
    }

    .plans__container_mobile {
        display: none;
    }

    .tools__container_mobile {
        display: none;
    }

    .footer__item_only-mobile {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        padding: 16px 16px 0;
    }

    .header__content {
        flex-direction: column;
    }

    .header__left,
    .header__right {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        padding: 16px 88px 0;
    }

    .header__content {
        flex-direction: column;
    }

    .header__left,
    .header__right {
        width: 100%;
    }

    .header__left {
        display: block;
    }

    .features {
        padding-top: 100px;
    }

    .section-title {
        font-size: 80px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        padding: 16px 88px 0;
    }

    .header__content {
        flex-direction: row;
    }

    .features>div:nth-child(2) {
        flex-direction: row;
    }
}